---
# handlers file for install_docker

- name: Restart Docker
  ansible.builtin.systemd:
    name: docker
    state: restarted
    daemon_reload: true
  become: true
  when: ansible_service_mgr == 'systemd'
