---
# Example: Add multiple repositories on Ubuntu

- name: Add multiple repositories
  hosts: all
  become: true
  roles:
    - role: omid_fallah_karimi.devops_toolkit.add_repository
      vars:
        # Optional: Skip GPG key verification (default: false)
        # skip_gpg_check: false
        
        # Optional: Remove all existing repos first (default: false)
        # purge_existing_repos: false
        
        apt_repositories:
          # Docker repository
          - repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
            key_url: "https://download.docker.com/linux/ubuntu/gpg"
            filename: "docker-ce"

          # Kubernetes repository
          - repo: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.28/deb/ /"
            key_url: "https://pkgs.k8s.io/core:/stable:/v1.28/deb/Release.key"
            filename: "kubernetes"

          # Grafana repository
          - repo: "deb https://apt.grafana.com stable main"
            key_url: "https://apt.grafana.com/gpg.key"
            filename: "grafana"

          # HashiCorp repository
          - repo: "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main"
            key_url: "https://apt.releases.hashicorp.com/gpg"
            filename: "hashicorp"
